#container{
	min-width: 800px;
	max-width: 800px;
}

#title{
	float: right;
	width: 200px;
}
#thebuttons{
	float: left;
}

#chart {
  width: 600px;
  display: block;
  margin: auto;
  padding: 0;  
  float: left;
}

#fischer {
  width: 300px;
  margin: auto;
  padding: 0;
  float: left;
}

#carlsen {
  width: 300px;
  margin: auto;
  padding: 0;
  float: left;
}